{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div>
        <a href="{{ url_for('table_activities') }}">Table activities</a>

    </div>
    <p id="text_about_world">Hellow, World!</p>
    <script>
        p = document.getElementById('text_about_world');
        p.innerText = 'oops';

    </script>
    <form action="" method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

{% endblock %}