{% extends "base.html" %}

{% block content %}
    <table>
        <caption>Table of your activities</caption>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Distance</th>
            <th>Heart rate</th>
            <th>Time</th>
            <th>Difficulty</th>
            <th>Date time</th>
        </tr>
        {% for record in records %}
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.category }}</td>
                <td>{{ record.distance }}</td>
                <td>{{ record.heart_rate }}</td>
                <td>{{ record.time }}</td>
                <td>{{ record.difficulty }}</td>
                <td>{{ record.date_time }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}